@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --black: #212123;
  --grey: #616063;
  --light-brown: #ccb9b1;
  --brown: #c08267;
  --dark-brown: #a0583c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

a:link {
  text-decoration: none;
}
